.custom-class {
    color: cornflowerblue;
}

.my-new-second-text{
    color: yellowgreen;
}

.class-if {
    color: brown;
}

.pass {
    color: green;
}

.fail {
    color: red;
}

.case-class {
    color: blueviolet;
}

.customer-class-block {
    color: chocolate;
}